cftime
flask
flaat
fpdf
netcdf4
xarray>=0.15.0
#cdsapi>=0.2.7 # to download Copernicus Data Store, don't need here
numpy
pandas
matplotlib==3.2 # pandas.plot() uses depricated in 3.3. epoch2num()
scipy>=1.4.1
statsmodels
connexion[swagger-ui]
dask[delayed]
