cftime
flask
flaat
fpdf
gunicorn<=20.0.4
netcdf4
xarray>=0.15.0
numpy
pandas
matplotlib==3.2 # pandas.plot() uses depricated in 3.3. epoch2num()
pypdf3
scipy>=1.4.1
statsmodels
connexion[swagger-ui]
dask[delayed]
