openapi: 3.0.1
info:
  title: Swagger REST API for O3as
  description: "This is **O3as REST API** based on the OpenAPI specification and leveraging\
    \ Swagger UI for the [Ozone assessment service](https://o3as.data.kit.edu).\n\n\
    For the detailed documentation, please, visit [O3as documention](https://o3as.readthedocs.io).\n\
    \n**By using our service you agree to the [Terms of Use](https://o3as.data.kit.edu/policies/terms-of-use.html)** "
  #termsOfService: https://o3as.data.kit.edu/policies/terms-of-use.html
  contact:
    name: O3as support
    email: o3as-support@lists.kit.edu
  license:
    name: Licensed under GPLv3
    url: https://git.scc.kit.edu/synergy.o3as/o3api/-/raw/master/LICENSE
  version: 0.7.0
servers:
- url: /api/v1
paths:
  /apiinfo:
    get:
      tags:
      - api
      summary: Returns information about the API
      description: Information about the API (o3api metadata)
      operationId: o3api.api.get_api_info
      responses:
        200:
          description: Successfully returned o3api info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfo'
        404:
          description: Requested resource not found
          content: {}
  /data:
    get:
      tags:
      - data
      summary: Returns a list of plot types with the available raw data
      description: List of plot types with the available raw data
      operationId: o3api.api.get_data_types
      responses:
        200:
          description: Successfully returned the list of data types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataList'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /data/tco3_zm:
    post:
      tags:
      - data
      summary: Returns raw data for tco3_zm
      description: Raw data to be processed for building tco3_zm plot
      operationId: o3api.api.get_data_tco3_zm
      parameters:
        - $ref: '#/components/parameters/YearBeginParam'
        - $ref: '#/components/parameters/YearEndParam'
        - $ref: '#/components/parameters/MonthParam'
        - $ref: '#/components/parameters/LatMinParam'
        - $ref: '#/components/parameters/LatMaxParam'
      requestBody:
        $ref: '#/components/requestBodies/ModelsParamReq'      
      responses:
        200:
          description: Successfully retrieved the data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/O3Data'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: models
  /data/tco3_return:
    post:
      tags:
      - data
      summary: Returns raw data for tco3_return
      description: Raw data to be processed for building tco3_return plot
      operationId: o3api.api.get_data_tco3_return
      parameters:
        - $ref: '#/components/parameters/YearBeginParam'
        - $ref: '#/components/parameters/YearEndParam'
        - $ref: '#/components/parameters/MonthParam'
        - $ref: '#/components/parameters/LatMinParam'
        - $ref: '#/components/parameters/LatMaxParam'
      requestBody:
        $ref: '#/components/requestBodies/ModelsParamReq'
      responses:
        200:
          description: Successfully retrieved the data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/O3Data'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: models
  /models:
    get:
      tags:
      - models
      summary: Returns a list of available models
      description: List of available models
      operationId: o3api.api.get_models_list
      parameters:
      - name: ptype
        in: query
        description: Plot type (tco3_return, tco3_zm, vmro3_zm)
        schema:
          type: string
      - name: select
        in: query
        description: Select models according to the {select} pattern
        schema:
          type: string
      responses:
        200:
          description: Successfully returned list of models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsList'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /models/{model}:
    get:
      tags:
      - models
      summary: Returns detailed information about a model
      description: Detailed information about a model
      operationId: o3api.api.get_model_detail
      parameters:
      - name: model
        in: path
        description: model name
        required: true
        schema:
          type: string
          default: CCMI-1_ACCESS_ACCESS-CCM-refC2
      responses:
        200:
          description: Successfully returned model information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfo'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /models/plotstyle:
    post:
      tags:
      - models
      summary: Returns plot styles for models
      description: Plot styles for selected models and plot type
      operationId: o3api.api.get_plot_style
      parameters:
      - name: ptype
        in: query
        description: Plot type (tco3_return, tco3_zm, vmro3_zm)
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ModelsParam'
      responses:
        200:
          description: Successfully returned plot styles for models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelsPlotStyle'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: models
  /plots:
    get:
      tags:
      - plots
      summary: Returns a list of possible plots
      description: List of possible plots
      operationId: o3api.api.get_plot_types
      responses:
        200:
          description: Successfully returned the list of possible plots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlotsList'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /plots/tco3_zm:
    post:
      tags:
      - plots
      summary: Builds and returns tco3_zm plot
      description: tco3_zm plot or corresponding data points
      operationId: o3api.api.plot_tco3_zm
      parameters:
        - $ref: '#/components/parameters/YearBeginParam'
        - $ref: '#/components/parameters/YearEndParam'
        - $ref: '#/components/parameters/MonthParam'
        - $ref: '#/components/parameters/LatMinParam'
        - $ref: '#/components/parameters/LatMaxParam'
        - $ref: '#/components/parameters/RefMeasParam'
        - $ref: '#/components/parameters/RefYearParam'
      requestBody:
        $ref: '#/components/requestBodies/ModelsParamReq'
      responses:
        200:
          description: Successfully created the plot
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/O3Data'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: models
  /plots/tco3_return:
    post:
      tags:
      - plots
      summary: Builds and returns tco3_return plot
      description: tco3_return plot or corresponding data points
      operationId: o3api.api.plot_tco3_return
      parameters:
        #- $ref: '#/components/parameters/YearBeginParam'
        #- $ref: '#/components/parameters/YearEndParam'
        - $ref: '#/components/parameters/MonthParam'
        - $ref: '#/components/parameters/LatMinParam'
        - $ref: '#/components/parameters/LatMaxParam'
        - $ref: '#/components/parameters/RefMeasParam'
        - $ref: '#/components/parameters/RefYearParam'
      requestBody:
        $ref: '#/components/requestBodies/ModelsParamReq'
      responses:
        200:
          description: Successfully created a plot
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/O3Data'
        404:
          description: Requested resource not found
          content: {}
        default:
          description: Unexpected error
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: models
components:
  schemas:
    ApiInfo:
      type: object
      properties:
        author:
          type: string
        author-email:
          type: string
        home-page:
          type: string
        license:
          type: string
        name:
          type: string
        summary:
          type: string
        version:
          type: string
    DataList:
      type: array
      items:
        type: string
    ModelsList:
      type: array
      items:
        type: string
    ModelInfo:
      type: object
      properties:
        model:
          type: string
        tco3_zm:
          $ref: '#/components/schemas/ModelInfoObj'
        tco3_return:
          $ref: '#/components/schemas/ModelInfoObj'
        vmro3_zm:
          $ref: '#/components/schemas/ModelInfoObj'
    ModelInfoObj:
      type: object
      properties:
        data:
          type: object
          properties: {}
        isdata:
          type: boolean
        plotstyle:
          type: object
          properties: {}
    ModelsPlotStyle:
      type: object
      properties:
        model:
          type: string
        tco3_zm:
          $ref: '#/components/schemas/ModelsPlotStyleObj'
        tco3_return:
          $ref: '#/components/schemas/ModelsPlotStyleObj'
        vmro3_zm:
          $ref: '#/components/schemas/ModelsPlotStyleObj'
    ModelsPlotStyleObj:
      type: object
      properties:
        plotstyle:
          type: object
          properties: {}
    PlotsList:
      type: array
      items:
        type: string
    O3Data:
      type: object
      properties:
        legalinfo:
          type: string
        model:
          type: string
        plotstyle:
          type: object
          properties: {}
        x:
          type: array
          items:
            type: string
        y:
          type: array
          items:
            type: number
#    O3PlotsJson:
#      type: object
#      properties:
#        legalinfo:
#          type: string
#        model:
#          type: string
#        plotstyle:
#          type: object
#          properties: {}
#        x:
#          type: array
#          items:
#            type: number
#        y:
#          type: array
#          items:
#            type: number
    Error:
      type: string
  parameters:
    YearBeginParam:
      name: begin
      in: query
      description: Year to start data scanning from
      schema:
        type: integer
        default: 1959
    YearEndParam:
      name: end
      in: query
      description: Year to finish data scanning
      schema:
        type: integer
        default: 2100
    MonthParam:
      name: month
      in: query
      description: Month(s) to select, if not a whole year
      style: form
      explode: false
      schema:
        type: array
        items:
          type: integer
        default: []
    LatMinParam:
      name: lat_min
      in: query
      description: Latitude (min) to define the range (-90..90)
      schema:
        type: integer
        default: -90
    LatMaxParam:
      name: lat_max
      in: query
      description: Latitude (max) to define the range (-90..90)
      schema:
        type: integer
        default: 90
    RefMeasParam:
      name: ref_meas
      in: query
      description: Reference observational measurument
      required: true
      schema:
        type: string
        default: SBUV_GSFC_merged-SAT-ozone
    RefYearParam:
      name: ref_year
      in: query
      description: Reference year for the obsevational measurement
      required: true
      schema:
        type: integer
        default: 1980
  requestBodies:
    ModelsParam:
      description: Name(s) of model(s) (dataset-model)
      required: false
      content:
        application/json:
          schema:
            x-body-name: models
            type: array
            example:
            - CCMI-1_ACCESS_ACCESS-CCM-refC2
            - CCMI-1_CCCma_CMAM-refC2
            - CCMI-1_CHASER-MIROC-ESM-refC2
            items:
              type: string
    ModelsParamReq:
      description: Name(s) of model(s) (dataset-model)
      required: true
      content:
        application/json:
          schema:
            x-body-name: models
            type: array
            items:
              type: string

